body {
    background-color: lightgrey;
  }
title {
    color: darkslategrey;
}
header {
    color:darkslategrey;
}
h1 {
    color: darkslategrey;
  }
h4 {
    color: darkslategrey;
}
p {
    color: darkslategrey;
  }