body {
    background-color: grey;
  }
title {
    color: lightslategray;
}
header {
    color:lightslategray;
}
h1 {
    color: lightslategray;
  }
h4 {
    color: lightslategray;
}
p {
    color: lightslategray;
  }