body {
    background-color: black;
  }
title {
    color: darkslategray
}
header {
    color:darkslategray
}
h1 {
    color: darkslateblue;
  }
h4 {
    color: darkslateblue;
}
p {
    color: darkslateblue;
  }